/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.fl-slide-0 .fl-slide-photo .salebanner-slide {
    margin-top: -100px !important;
}

.searchIcon {
    position: absolute;
    right: 50px;
    top: 45px;
    width: 20px!important;
    height: 20px;
    z-index: 999;
    cursor: pointer;
}

.searchIcon .fl-module-content {
    display: none;
}

.searchIcon:before {
    content: "\e96f";
    font-family: 'Ultimate-Icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
}

.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    background: #c9c1b4;
}

#menu-main-menu li a {
    letter-spacing: 1px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0px;
}

#menu-main-menu li .sub-menu {
    padding: 0px;
    border: 0px;
    min-width: 300px;
}

#menu-main-menu li .sub-menu li a {
    padding: 20px;
    font-size: 12px;
    border-bottom: 1px solid #e3e2e3;
}

#menu-main-menu li .sub-menu li a:hover {
    background: #cf2828;
    color: #fff;
}

#menu-main-menu li .sub-menu li .sub-menu {
    top: 0px;
}

#menu-main-menu .menu-item-has-children .uabb-has-submenu-container a span:after
/* #menu-main-menu-1 .menu-item-has-children .uabb-has-submenu-container a span span:after */

{
    font-family: 'Font Awesome 5 Free';
    content: '\f107';
    font-weight: 900;
    margin-left: 5px;
    display: inline-block;
    float: right;
    vertical-align: middle;
}

.fl-content-full.container {
    width: 100%;
    max-width: 100%;
}

.get-dir-btn p {
    margin: 0px;
}

.get-dir-btn .fl-module-content .storename {
    margin-bottom: 0px;
}

.get-dir-btn .fl-module-content .storename .direction a {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 4px;
    text-transform: uppercase;
    border: 1px solid #c31c1c;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 300px;
    text-align: center;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
}

.get-dir-btn .fl-module-content .storename .direction a:hover {
    background: #af2121;
}

.get-dir-btn .fl-module-content .storename .direction a:hover {
    background: #4b4c60 !important;
}

.get-dir-btn .fl-module-content .storename .direction a:hover {
    border: 1px solid #4b4c60 !important;
}

.gform_wrapper select option {
    color: #000;
}

#gform_wrapper_24 ul li#field_24_7 {
    position: relative;
}

#gform_wrapper_24 ul li#field_24_7 input#input_24_7 {
    width: 100%;
}

#gform_wrapper_24 ul li#field_24_7 input#input_24_7~img {
    position: absolute;
    top: 40%;
    right: 23px;
}

.gform_wrapper ul.gfield_checkbox li input[type=checkbox] {
    margin-top: -1px!important;
}

.product-detail-layout-5 .product-box .button-wrapper .text-right {
    width: 100%;
    text-align: center;
}

@media(max-width:1100px) {
    .get-dir-btn .fl-module-content .storename .direction a {
        width: 100%;
    }
    .fl-node-5d1664af07fdb .uabb-creative-menu .menu>li {
        margin-right: 0px;
        margin-left: 0px;
    }
    #menu-main-menu li a {
        font-size: 12px;
        padding-left: 0px;
    }
    #menu-main-menu li .sub-menu li a {
        padding-left: 15px;
    }
    .fl-page-bar-nav>li>a {
        padding: 2px 7px;
    }
    .style-product_list .pro-container>.row>.col-md-7 {
        flex: 0 0 57.33333%;
    }
    .style-product_list .pro-container>.row>.col-md-5 {
        flex: 0 0 41.66667%;
    }
    .style-product_list .pro-container .pro-details .button-wrapper {
        justify-content: space-around;
    }
    .style-product_list .pro-container .pro-details .button-wrapper a.button {
        min-width: auto;
        width: auto;
    }
}

@media(min-width:768px) {
    .fl-page-nav-search {
        display: block;
    }
}

@media(max-width:768px) {
    .style-product_list .pro-container .pro-details .button-wrapper a.button {
        width: 49%;
    }
    .fl-page-bar-nav>li>a {
        padding: 2px 5px;
    }
    .top-small-img .uabb-photo-content {
        width: 100%;
    }
    .top-small-img .uabb-photo-content img {
        width: 100%;
        display: block;
    }
    .menu-responsive-column {
        position: absolute;
        left: 10px;
        top: 17px;
        display: inline-block;
    }
    .fl-builder-content .fl-node-5d16648f31f41 {
        width: 100%!important;
    }
    .get-dir-btn .fl-module-content .storename .direction a {
        max-width: 300px;
    }
    .fl-node-5d1664af07fdb .uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn {
        position: fixed!important;
        top: 30px;
        right: 0px;
        display: inline-block;
    }
    .fl-content-full.container {
        padding: 0px;
    }
}

@media(max-width:670px) {
    .fl-page-bar .fl-page-bar-row .text-right {
        text-align: center;
    }
}

@media(max-width:600px) {
    .fl-page-bar .text-right {
        text-align: center;
    }
    .menu-responsive-column {
        left: -10px;
    }
    .searchIcon {
        right: 20px;
    }
}

@media(max-width:500px) {
    footer .fl-builder-content .footer-logo,
    footer .fl-builder-content .locations-footer {
        width: 100%!important;
    }
    .product-row .fl-post-grid-image>a .exlusive-badge {
        left: 100px;
    }
    .fl-builder-content .full-width-mobile {
        width: 100%!important;
    }
}

.top-bar-nav .phone a span:before {
    content: "\f095";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
    margin-right: 5px;
}